body{
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(0, 0, 0);
}

nav{
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.img{
  padding: 2px;
  margin: 2px;
}

.title{
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.title-description{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}


.carTable{
  text-align: center;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-areas:
    "hdr hdr hdr hdr"
    "key key key key"
    "content content content content";
  grid-template-rows: 1fr 1fr 100%;
  grid-template-columns: 2fr 1fr 1fr 6fr;
  background-color: rgb(92, 92, 92);
}

.newPage{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: none;
}

.hdr{
  grid-area: hdr;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.key{
  grid-area: key;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.content{
  grid-area: content;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.allLinks{
  font-size: 25px;
  padding: 2px;
  margin: 2px;
  color: rgb(131, 0, 0);
  border: solid 2px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(66, 66, 66);
 }

 .userName{
  font-size: 25px;
  padding: 2px;
  margin: 2px;
  color: rgb(21, 75, 16);

 }

.allButtons{
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  background-color: black;
  border: 2px black solid;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.inputBox{
  border: 2px rgb(23, 23, 23) solid;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
}

.textW{
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.allTabs{
  font-size: 22px;
  color: black;
  background-color: white;
}

.show-comments{
  color:white;
  font-size: 20px;
}

.white-text{
  color: white;
  font-size: 22px;
}

.make{
  color: green;
}

.model{
  color: green;
}

.year{
  color: green;
}

.posted{
  color: green;
}

.author{
  color: green;
}